body{
    margin: 0PX;
    padding: 0px;
    font-family: sans-serif;
    background: url(assets/img/couple.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}
    

.container h2{
    color: #fff;
    font-family: cursive;
    font-size: 2rem;
    font-weight: 100;

}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 2rem;
    background: rgba(red, green, blue, alpha);
    box-sizing: border-box;
    box-shadow: 0 16px 26px rgba(red, green, blue, alpha);
    border-radius: 12px;
    text-align: center;
}
input{
    width: 60%;
    padding: 0.8rem;
    border-radius: 12px;
    border: none;
}
button{
width: 52px;
padding: 4px;px;;
color: slateblue;
background-color: rgb(222, 222, 235);
}
button:hover{
    color: rgb(0, 0, 7);
    background-color: aqua;
}